<%= form_tag "/fruits", method: :post do %>
  <p>name: <input type="text" name="the_name"></p>
  <p>color: <input type="text" name="the_color"></p>
  <p>taste: <input type="text" name="the_taste"></p>
  <p>season: <input type="text" name="the_season"></p>
  <!-- <button>Make a new fruit</button> -->
  <input type="submit" value="Make a new fruit">
<% end %>
